{% extends "base.html" %}

{% block body %}
<div class="body-area">
    <div class="body-section">
        <div class="body-head">How you can help us.</div>
        <div class="body-content">We don't need any money but we need help spreading the word. After all, this is a personal "research" project so the audience is the reward. :) Use whatever social media you like (tweets and posts welcome). We don't judge but a little help goes a long way.</div>
    </div>

    <div class="body-section">
        <div class="body-head">How you can help the podcasts.</div>
        <div class="body-content">
            This project gave money to all of the podcasts included (either as Sam Pottinger or as Podcast Anthropology). If you like podcasts, consider throwing them some spare change too. Here are the links:
            <ul>
                <li><a href="http://www.thisamericanlife.org">This American Life</a></li>
                <li><a href="http://radiolab.org">Radiolab</a></li>
                <li><a href="http://99percentinvisible.org">99% Invisible</a></li>
                <li><a href="http://thememorypalace.us">The Memory Palace</a></li>
                <li><a href="http://www.hellointernet.fm">Hello Internet</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}