{% extends "base.html" %}

{% block body %}
<div class="section body-area">
    <div class="image-holder">
        <img src="/static/data/big_screen.png">
    </div>
    <div class="body-head">Class presentation? Catching a plane?</div>
    <div class="body-content">
        The desktop application offers a permanance, stability, and speed that a web application and its server cannot. It is the same data as online but wrapped up in a single download great for archiving or use when the WiFi dropping out might be bad news. Below we offer links to local executables for this visualization.
        <ul class="body-content">
            <li><a href="https://s3.amazonaws.com/podcast-anthropology-static/application.macosx.zip">Mac OS</a></li>
            <li><a href="https://s3.amazonaws.com/podcast-anthropology-static/application.windows64.zip">Windows 64-bit (recommended for Windows)</a></li>
            <li><a href="https://s3.amazonaws.com/podcast-anthropology-static/application.windows32.zip">Windows 32-bit</a></li>
            <li><a href="https://s3.amazonaws.com/podcast-anthropology-static/application.linux32.zip">Linux 32-bit</a></li>
            <li><a href="https://s3.amazonaws.com/podcast-anthropology-static/application.linux64.zip">Linux 64-bit</a></li>
        </ul>
        You might also need to install <a href="http://java.com/en/download/">Java</a>.
    </div>
</div>
{% endblock %}